"The Mathematical Theory of Symmetry in Solids/重排本/main.pdf" filter=lfs diff=lfs merge=lfs -text
"The Mathematical Theory of Symmetry in Solids/The Mathematical Theory of Symmetry in Solids (Chinese Re-typeset).pdf" filter=lfs diff=lfs merge=lfs -text
